input[type=button]{
    font-size:62px;
    color:#FFF;
    width:50%;
    margin:20% 0 0 25%;
}
input[type=text]{
    font-size:40px;
    color:#FFF;
    width:50%;
    margin:10% 0 0 25%;
    background:#666;
}

.off{
    background:#666
}
.on{
    background:#00979C
}
